body {
  background: url(../img/simple-bg.png);
  margin: 0;
  padding: 0;
}

h1,h2,h3 {
    margin: 0;
}

img {
    display: block;
    border:none;
}

.container {
    padding: 0 10px;
    margin: 0 auto;
    
}

.section-title {
    position: relative;
    margin-left: 60px;
}

.section-title::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    top: -9px;
    left: -56px;
    background: url(../img/Gear-icon-black.svg) 0 0 no-repeat;
}

.main-header__id {
    width: 940px;
    min-height: 160px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: teal;
}



.main-header__logo {
    margin-bottom: 62px;
}

.main-header__creator {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-header__name {
    font-family: 'Scada', sans-serif;
    font-size: 30px;
    line-height: normal;
    font-weight: 700;
    color: #ffffff;
    text-align: right;
}

.main-header__status {
    font-family: 'Scada', sans-serif;
    font-size: 19px;
    line-height: 19px;
    padding-bottom: 7px;
    font-weight: 700;
    color: #ffffff;
    text-align: right;
    margin-bottom: 10px;
}

.main-header__contacts {
  display: flex;
  justify-content: space-around;
}

.main-header__vk-icon {
  fill: white;
  transition-duration: 0.2s;
}

.main-header__vk-icon:hover {
  fill: rgb(255, 137, 64);
}

.main-header__email-btn {
  fill: white;
  transition-duration: 0.2s;
}

.main-header__email-btn:hover {
  fill: rgb(255, 137, 64);
}

.main-header__github-icon {
  fill: white;
  transition-duration: 0.2s;
}

.main-header__github-icon:hover {
   fill: rgb(255, 137, 64);
}

.main-content {
    width: 940px;
    background-color: white;
    padding-top: 1px;
}


/* Портфолио */
.main-content__portfolio {
    margin-bottom: 35px;
    margin-top: 70px;
}

.portfolio__title {
   font-family: 'Roboto', sans-serif;
    font-size: 33px;
    line-height: 33px;
    font-weight: 700;
    color: black;
    text-align: left;
    width: 280px;
    padding-bottom: 9px;
    margin-bottom: 30px;
    
}

.portfolio__portfolio-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.portfolio__item {
    position: relative;
    display: block;
    width: 300px;
    min-height: 200px;
    margin-right: 13px;
    margin-bottom: 13px;
    border: 3px solid lightgray;
    box-sizing: border-box;
    transition-duration: 0.2s;
    overflow: hidden;
}

.portfolio__item-technomart:hover::after {
    content: 'Fixed';
    position: absolute;
    top: 152px;
    left: 7px;
    width: 127px;
    height: 41px;
    background-color: teal;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 41px;
    
}

.portfolio__item-sedona:hover::after {
    content: 'Adaptive';
    position: absolute;
    top: 152px;
    left: 7px;
    width: 127px;
    height: 41px;
    background-color: teal;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 41px;
}

.portfolio__item-mogo:hover::after {
    content: 'Fixed';
    position: absolute;
    top: 152px;
    left: 7px;
    width: 127px;
    height: 41px;
    background-color: teal;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 41px;
}

.portfolio__item-borodinskiy:hover::after {
    content: 'Fixed';
    position: absolute;
    top: 152px;
    left: 7px;
    width: 127px;
    height: 41px;
    background-color: teal;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 41px;
    
}

.portfolio__item-nerds:hover::after {
    content: 'Fixed';
    position: absolute;
    top: 152px;
    left: 7px;
    width: 127px;
    height: 41px;
    background-color: teal;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 41px;
    
}

.portfolio__item:hover {
      border-color: rgb(255, 137, 64);
}

.portfolio__item:active {
      border-color: rgb(224, 121, 56);
}

.portfolio__more-icon {
  position: absolute;
  width: 81px;
  height: 80px;
  top: 279px;
  right: 41px;
  fill: lightgray;    
  transition-duration: 0.2s;
}

.portfolio__more-icon:hover {
  fill: rgb(255, 137, 64);
}

.portfolio__more-icon:active {
  fill: rgb(224, 121, 56);
}

.portfolio__item:nth-child(3n) {
  margin-right: 0;
}

/* Навыки */

.skills__title {
    font-family: 'Roboto', sans-serif;
    font-size: 33px;
    line-height: 33px;
    font-weight: 700;
    color: black;
    text-align: left;
    width: 280px;
    padding-bottom: 9px;
    margin-bottom: 30px;
}

.skills__wrapper {
    display: flex;
    justify-content: flex-start;
}

.skills__list {
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    line-height: 28px;
    font-weight: 300;
    color: black;
    margin: 0;
    list-style-type: none;
    padding-left: 118px;
}

.skills__item {
    margin-bottom: 20px;
}

.skills__html {
    position: relative;
}

.skills__html::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0px;
    left: -45px;
    background: url(../img/sprite.png) -35px -45px no-repeat;
}

.skills__sass {
    position: relative;
}

.skills__sass::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 19px;
    top: 5px;
    left: -45px;
    background: url(../img/sprite.png) -80px -40px no-repeat;
}

.skills__gulp {
    position: relative;
}

.skills__gulp::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 39px;
    top: -8px;
    left: -45px;
    background: url(../img/sprite.png) -5px -45px no-repeat;
}

.skills__git {
    position: relative;
}

.skills__git:after {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    top: 1px;
    left: -50px;
    background: url(../img/sprite.png) -40px -5px no-repeat;
}

.skills__photoshop {
  position: relative;
}

.skills__photoshop:after {
  content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    top: 1px;
    left: -50px;
    background: url(../img/sprite.png) -5px -5px no-repeat;
}

/* Сертификаты */
.main-content__certificates {
    
    padding-bottom: 1px;
}

.certificates__certificates-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
    margin-bottom: 30px;
}

.certificates__title {
  font-family: 'Roboto', sans-serif;
  font-size: 33px;
  line-height: 33px;
  font-weight: 700;
  color: black;
  text-align: left;
  width: 280px;
  padding-bottom: 9px;
  margin-bottom: 30px;
}

.certificates__certificate {
  margin: 0 auto;
  width: 170px;
  height: 241px;
  background-color: red;
  border: 3px solid lightgray;
  transition-duration: 0.2s;
}

.certificates__htmlbasic:hover {
    border-color: rgb(255, 137, 64);
}

.certificates__htmladvanced:hover {
    border-color: rgb(69, 76, 142);
}

/* Контакты */
.main-footer {
  width: 940px;
  background-color: white;
  padding-top: 1px;
  padding-bottom: 1px;
}

.main-footer__contacts {
  padding-bottom: 1px;
  margin-top: 30px;
  margin-bottom: 25px;
    
}

.contacts__title {
  font-family: 'Roboto', sans-serif;
  font-size: 33px;
  line-height: 33px;
  font-weight: 700;
  color: black;
  text-align: left;
  width: 280px;
  padding-bottom: 9px;
  margin-bottom: 30px;
}

.contacts__list {
  list-style-type: none;
  padding-left: 62px;
  padding-bottom: 1px;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  padding-left: 119px;
}

.contacts__vk {
  position: relative;
  text-decoration: none;
  font-size: 23px;
  line-height: 28px;
  color: black;
}

.contacts__vk:hover {
  
}

.contacts__vk::after {
  position: absolute;
  content: '';
  width: 40px;
  height: 40px;
  top: -4px;
  left: -58px;
  background: url(../img/vk.svg) 0 0 no-repeat;
}

.contacts__email {
  position: relative;
  text-decoration: none;
  font-size: 23px;
  line-height: 28px;
  color: black;
}

.contacts__email::after {
  position: absolute;
  content: '';
  width: 40px;
  height: 40px;
  top: -4px;
  left: -56px;
  background: url(../img/email.svg) 0 0 no-repeat;
}

.contacts__email:hover {
  
}

.contacts__github {
  position: relative;
  text-decoration: none;
  font-size: 23px;
  line-height: 28px;
  color: black;
}

.contacts__github::after {
  position: absolute;
  content: '';
  width: 40px;
  height: 40px;
  top: -4px;
  left: -56px;
  background: url(../img/github.svg) 0 0 no-repeat;
}


.contacts__skype {
  position: relative;
  text-decoration: none;
  font-size: 23px;
  line-height: 28px;
  color: black;
}

.contacts__skype::after {
  position: absolute;
  content: '';
  width: 40px;
  height: 40px;
  top: -4px;
  left: -56px;
  background: url(../img/skype.svg) 0 0 no-repeat;
}

.contacts__list li {
  margin-bottom: 20px;
}

/*
.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-Photoshop25 {
    width: 25px;
    height: 25px;
    background-position: -5px -5px;
}

.sprite-git30 {
    width: 30px;
    height: 30px;
    background-position: -40px -5px;
}

.sprite-gulp20 {
    width: 20px;
    height: 39px;
    background-position: -5px -45px;
}

.sprite-html25 {
    width: 25px;
    height: 25px;
    background-position: -35px -45px;
}

.sprite-js25 {
    width: 44px;
    height: 25px;
    background-position: -80px -5px;
}

.sprite-sass25 {
    width: 25px;
    height: 19px;
    background-position: -80px -40px;
}

*/