/*  ===BASE===  */

body {
  background: #242424 url(../img/simple-bg.png);
  font-size: 16px;
  padding-top: 167px;
}

@media (min-width : 992px) {
  body {
    padding-top: 0;
  }
}

h2 {
  margin: 0;
}

h1 {
  margin: 0;
}

h3 {
  margin: 0;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}


input[type="text"]:focus {
  outline: none;
}

input[type="tel"]:focus {
  outline: none;
}

input[type="email"]:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}

button:focus {
  outline: none;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

.container {
  min-width: 320px;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media (min-width : 768px) {
  .container {
    max-width: 750px;
  }
}


@media (min-width : 992px) {
  .container {
    max-width: 970px;
  }
}

@media (min-width : 1200px) {
  .container {
    max-width: 1170px;
  }
}

.section-title {
  position: relative;
  margin-left: 60px;
}

.section-title::before {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  top: -3px;
  left: -56px;
  background: url(../img/Gear-icon-black-new.svg) 0 0 no-repeat;
}

/*  ===MAIN-HEADER===  */

.main-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: ;
  background: teal url("../img/bg3.png") 0 0 repeat;
}

@media (min-width : 480px) {
  .main-header {
    flex-direction: row;
    align-items: center;
  }
}

@media (min-width : 992px) {
  .main-header {
    position: static;
    border-bottom: 5px solid #086363;
  }
}

/*  ===CREATOR===  */

.main-header__creator-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

.main-header__logo {
  position: absolute;
  top: -32px;
  left: -60px;
}

@media (min-width : 480px) {
  .main-header__logo {
    top: -40px;
    left: -72px;
  }
}

.main-header__logo svg {
  width: 60px;
  height: 60px;
}

@media (min-width : 992px) {
  .main-header__logo svg {
    width: 80px;
    height: 80px;
  }
}

.main-header__creator {
  display: flex;
  margin: 50px 0 20px 75px;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.main-header__name {
  font-family: 'Scada', sans-serif;
  font-size: 22px;
  line-height: normal;
  font-weight: 700;
  color: #ffffff;
  text-align: right;
}

@media (min-width : 480px) {
  .main-header__name {
    font-size: 26px;
  }
}

@media (min-width : 992px) {
  .main-header__name {
    font-family: 'Scada', sans-serif;
    font-size: 30px;
    line-height: normal;
    font-weight: 700;
    color: #ffffff;
    text-align: right;

  }
}

.main-header__status {
  font-family: 'Scada', sans-serif;
  font-size: 16px;
  line-height: 19px;
  padding-bottom: 7px;
  font-weight: 700;
  color: #ffffff;
  text-align: right;
  margin-bottom: 10px;
}

@media (min-width : 480px) {
  .main-header__status {
    font-size: 18px;
  }
}


@media (min-width : 992px) {
  .main-header__status {
    font-family: 'Scada', sans-serif;
    font-size: 19px;
    line-height: 19px;
    padding-bottom: 7px;
    font-weight: 700;
    color: #ffffff;
    text-align: right;
    margin-bottom: 10px;
  }
}

.main-header__contacts {
  display: flex;
  justify-content: space-around;
}


.main-header__vk-icon {
  width: 30px;
  height: 30px;
  fill: white;
  transition-duration: 0.2s;
}

@media (min-width : 992px) {
  .main-header__vk-icon {
    width: 40px;
    height: 40px;
  }
}


.main-header__vk-icon:hover {
  fill: rgb(255, 137, 64);
}

.main-header__email-icon {
  width: 30px;
  height: 30px;
  fill: white;
  transition-duration: 0.2s;
}

@media (min-width : 992px) {
  .main-header__email-icon {
    width: 40px;
    height: 40px;
  }
}

.main-header__email-icon:hover {
  fill: rgb(255, 137, 64);
}

.main-header__github-icon {
  width: 30px;
  height: 30px;
  fill: white;
  transition-duration: 0.2s;
}

@media (min-width : 992px) {
  .main-header__github-icon {
    width: 40px;
    height: 40px;
  }
}

.main-header__github-icon:hover {
  fill: rgb(255, 137, 64);
}



/* ===NAVIGATION=== */

.main-header__navigation {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

@media (min-width : 992px) {
  .main-header__navigation {
    display: flex;
    position: static;
    align-items: center;
  }
}

.main-header__navigation-list {
  display: block;
  list-style-type: none;
}

@media (min-width : 992px) {
  .main-header__navigation-list {
    display: flex;
  }
}

.main-header__navigation-item {

}

@media (min-width : 992px) {
  .main-header__navigation-item {
    margin-right: 50px;
  }
}

.main-header__navigation-link {
  display: block;
  padding: 10px 0;
  font-family: 'Scada', sans-serif;
  font-size: 22px;
  text-align: center;
  color: #fff;
  background-color: teal;
  border-bottom: 1px solid #121212;
  transition-duration: .1s;
}

.main-header__navigation-link:hover {
  color: rgb(255, 137, 64);
}

@media (min-width : 992px) {
  .main-header__navigation-link {
    display: block;
    font-family: 'Scada', sans-serif;
    font-size: 22px;
    color: #fff;
    padding-bottom: 1px;
    border-bottom: 3px solid rgb(255, 137, 64);
    transition-duration: .1s;
  }
  .main-header__navigation-link:hover {
    color: rgb(255, 137, 64);
    border-bottom: 1px solid rgb(255, 137, 64);
  }
}

.main-header__burger {
  position: absolute;
  top: 108px;
  left: 33px;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color .2s;
}

.main-header__burger:hover {
  background-color: rgb(255, 137, 64);;
}

.main-header__burger::before {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  top: 5px;
  left: 5px;
  align-self: center;
  background: url("../img/burger.png") 0 0 no-repeat;
  background-size: 30px 30px;
}

@media (min-width : 480px) {
  .main-header__burger {
    position: relative;
    top: 0;
    left: 0;
  }
}

@media (min-width : 992px) {
  .main-header__burger {
    display: none;
  }
}



/*  ===CONTENT===  */

.slick-item-wrapper {
  padding-right: 10px;
  box-sizing: border-box;
}



.main-content {
  background-color: white;
  padding-top: 1px;
}



.main-content__portfolio {
  margin-bottom: 35px;
  margin-top: 70px;
}

.portfolio--no-margin {
  margin-bottom: 0;
}

.portfolio__title {
  font-family: 'Roboto', sans-serif;
  font-size: 33px;
  line-height: 33px;
  font-weight: 700;
  color: black;
  text-align: left;
  width: 280px;
  padding-bottom: 9px;
  margin-bottom: 30px;
}

/*
.potfolio-slider {
  margin-right: -10px;
}
*/

.potfolio__slider {
  display: flex;
  position: relative;
}

.portfolio__item {
  position: relative;
  display: block;
  border: 3px solid lightgray;
  box-sizing: border-box;
  transition-duration: 0.2s;
  box-shadow:  0px 9px 15px -8px rgba(36, 36, 36, 0.75);

}

.portfolio__item img {
  display: block;
  width: 100%;
  height: 200px;
}

.portfolio__item-technomart:hover::after {
  content: 'Fixed';
  position: absolute;
  top: 152px;
  left: 7px;
  width: 127px;
  height: 41px;
  background-color: teal;
  font-family: 'Roboto', sans-serif;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 41px;
}

.portfolio__item-sedona:hover::after {
  content: 'Adaptive';
  position: absolute;
  top: 152px;
  left: 7px;
  width: 127px;
  height: 41px;
  background-color: teal;
  font-family: 'Roboto', sans-serif;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 41px;
}

.portfolio__item-mogo:hover::after {
  content: 'Fixed';
  position: absolute;
  top: 152px;
  left: 7px;
  width: 127px;
  height: 41px;
  background-color: teal;
  font-family: 'Roboto', sans-serif;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 41px;
}

.portfolio__item-borodinskiy:hover::after {
  content: 'Fixed';
  position: absolute;
  top: 152px;
  left: 7px;
  width: 127px;
  height: 41px;
  background-color: teal;
  font-family: 'Roboto', sans-serif;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 41px;
}

.portfolio__item-nerds:hover::after {
  content: 'Fixed';
  position: absolute;
  top: 152px;
  left: 7px;
  width: 127px;
  height: 41px;
  background-color: teal;
  font-family: 'Roboto', sans-serif;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 41px;
}

.portfolio__item-surface:hover::after {
  content: 'Adaptive';
  position: absolute;
  top: 152px;
  left: 7px;
  width: 127px;
  height: 41px;
  background-color: teal;
  font-family: 'Roboto', sans-serif;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 41px;
}

.portfolio__item:hover {
  border-color: rgb(255, 137, 64);
}

.portfolio__item:active {
  border-color: rgb(224, 121, 56);
}

.portfolio__item:nth-child(3n) {
  margin-right: 0;
}

.portfolio__more-icon {
  position: absolute;
  width: 81px;
  height: 80px;
  top: 279px;
  right: 41px;
  fill: lightgray;
  transition-duration: 0.2s;
}

.portfolio__more-icon:hover {
  fill: rgb(255, 137, 64);
}

.portfolio__more-icon:active {
  fill: rgb(224, 121, 56);
}

.portfolio__page-link--hidden {
  display: none;
}



/* ===SKILLS=== */

.skills__title {
  font-family: 'Roboto', sans-serif;
  font-size: 33px;
  line-height: 33px;
  font-weight: 700;
  color: black;
  text-align: left;
  width: 280px;
  padding-bottom: 9px;
  margin-bottom: 30px;
}

.skills__wrapper {
  display: flex;
  justify-content: flex-start;
}

.skills__list {
  font-family: 'Roboto', sans-serif;
  font-size: 23px;
  line-height: 28px;
  font-weight: 300;
  color: black;
  margin: 0;
  list-style-type: none;
  padding-left: 118px;
}

.skills__item {
  margin-bottom: 20px;
}

.skills__html {
  position: relative;
}

.skills__html::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0px;
  left: -45px;
  background: url(../img/sprite.png) -35px -45px no-repeat;
}

.skills__sass {
  position: relative;
}

.skills__sass::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 19px;
  top: 5px;
  left: -45px;
  background: url(../img/sprite.png) -80px -40px no-repeat;
}

.skills__gulp {
  position: relative;
}

.skills__gulp::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 39px;
  top: -8px;
  left: -45px;
  background: url(../img/sprite.png) -5px -45px no-repeat;
}

.skills__git {
  position: relative;
}

.skills__git:after {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  top: 1px;
  left: -50px;
  background: url(../img/sprite.png) -40px -5px no-repeat;
}

.skills__photoshop {
  position: relative;
}

.skills__photoshop:after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  top: 1px;
  left: -50px;
  background: url(../img/sprite.png) -5px -5px no-repeat;
}



/* Сертификаты */
.main-content__certificates {
  padding-bottom: 1px;
}

.certificates__certificates-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 30px;
}

.certificates__title {
  font-family: 'Roboto', sans-serif;
  font-size: 33px;
  line-height: 33px;
  font-weight: 700;
  color: black;
  text-align: left;
  width: 280px;
  padding-bottom: 9px;
  margin-bottom: 30px;
}

.certificates__certificate {
  margin: 0 auto;
  width: 170px;
  height: 241px;
  background-color: red;
  border: 3px solid lightgray;
  transition-duration: 0.2s;
}

.certificates__htmlbasic:hover {
  border-color: rgb(255, 137, 64);
}

.certificates__htmladvanced:hover {
  border-color: rgb(69, 76, 142);
}



/* Контакты */
.main-footer {
  background-color: white;
  padding-top: 1px;
  padding-bottom: 1px;
}

.main-footer__contacts {
  padding-bottom: 1px;
  margin-top: 30px;
  margin-bottom: 25px;
}

.contacts__title {
  font-family: 'Roboto', sans-serif;
  font-size: 33px;
  line-height: 33px;
  font-weight: 700;
  color: black;
  text-align: left;
  width: 280px;
  padding-bottom: 9px;
  margin-bottom: 30px;
}

.contacts__list {
  list-style-type: none;
  padding-left: 62px;
  padding-bottom: 1px;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  padding-left: 119px;
}

.contacts__vk {
  position: relative;
  text-decoration: none;
  font-size: 23px;
  line-height: 28px;
  color: black;
}

.contacts__vk::after {
  position: absolute;
  content: '';
  width: 40px;
  height: 40px;
  top: -4px;
  left: -58px;
  background: url(../img/vk.svg) 0 0 no-repeat;
}

.contacts__email {
  position: relative;
  text-decoration: none;
  font-size: 23px;
  line-height: 28px;
  color: black;
}

.contacts__email::after {
  position: absolute;
  content: '';
  width: 40px;
  height: 40px;
  top: -4px;
  left: -56px;
  background: url(../img/email.svg) 0 0 no-repeat;
}

.contacts__github {
  position: relative;
  text-decoration: none;
  font-size: 23px;
  line-height: 28px;
  color: black;
}

.contacts__github::after {
  position: absolute;
  content: '';
  width: 40px;
  height: 40px;
  top: -4px;
  left: -56px;
  background: url(../img/github.svg) 0 0 no-repeat;
}

.contacts__skype {
  position: relative;
  text-decoration: none;
  font-size: 23px;
  line-height: 28px;
  color: black;
}

.contacts__skype::after {
  position: absolute;
  content: '';
  width: 40px;
  height: 40px;
  top: -4px;
  left: -56px;
  background: url(../img/skype.svg) 0 0 no-repeat;
}

.contacts__list li {
  margin-bottom: 20px;
}



/*ANIMATION*/

.gear1 {
  animation: spin_gear1 10s linear infinite;
  animation-delay: 1s;
  transform-origin: 50% 50%;
}

@keyframes spin_gear1 {
  to { transform:rotate(0deg) }
  from { transform:rotate(359deg) }
}

.gear2 {
  animation: spin_gear2 10s linear infinite;
  animation-delay: 1s;
  animation-direction: reverse;
  transform-origin: 50% 50%;
}

@keyframes spin_gear2 {
  to { transform:rotate(0deg) }
  from { transform:rotate(359deg) }
}

/*
.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-Photoshop25 {
    width: 25px;
    height: 25px;
    background-position: -5px -5px;
}

.sprite-git30 {
    width: 30px;
    height: 30px;
    background-position: -40px -5px;
}

.sprite-gulp20 {
    width: 20px;
    height: 39px;
    background-position: -5px -45px;
}

.sprite-html25 {
    width: 25px;
    height: 25px;
    background-position: -35px -45px;
}

.sprite-js25 {
    width: 44px;
    height: 25px;
    background-position: -80px -5px;
}

.sprite-sass25 {
    width: 25px;
    height: 19px;
    background-position: -80px -40px;
}

*/

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
