/* MIXINS */
.container {
  min-width: 320px;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
}
.section-title {
  font-family: "PT Sans Narrow";
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  text-align: center;
}
/*ANIMATION*/
.main-header__creator::after {
  animation: spin_gear 10s linear infinite;
  animation-delay: 1s;
  transform-origin: 50% 50%;
}
.main-header__creator::before {
  animation: spin_gear 10s linear infinite;
  animation-delay: 1s;
  animation-direction: reverse;
  transform-origin: 50% 50%;
}
@keyframes spin_gear {
  to {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(359deg);
  }
}
/*
.sprite {
background-image: url(spritesheet.png);
background-repeat: no-repeat;
display: block;
}

.sprite-Photoshop25 {
width: 25px;
height: 25px;
background-position: -5px -5px;
}

.sprite-git30 {
width: 30px;
height: 30px;
background-position: -40px -5px;
}

.sprite-gulp20 {
width: 20px;
height: 39px;
background-position: -5px -45px;
}

.sprite-html25 {
width: 25px;
height: 25px;
background-position: -35px -45px;
}

.sprite-js25 {
width: 44px;
height: 25px;
background-position: -80px -5px;
}

.sprite-sass25 {
width: 25px;
height: 19px;
background-position: -80px -40px;
}
*/
/*	===MAIN-HEADER===	*/
.main-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background: teal url("../img/bg3.png") 0 0 repeat;
}
/*	===CREATOR===	*/
.main-header__creator-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}
.main-header__creator {
  position: relative;
  display: flex;
  margin: 50px 0 20px 75px;
  flex-direction: column;
  justify-content: center;
}
.main-header__creator::before {
  position: absolute;
  content: '';
  top: -12px;
  left: -66px;
  width: 53px;
  height: 53px;
  background: url('../img/big-gear-white.png') 0 0 no-repeat;
  background-size: 53px 53px;
  transition-duration: 0.2s;
}
.main-header__creator::after {
  position: absolute;
  content: '';
  top: -38px;
  left: -32px;
  width: 41px;
  height: 41px;
  background: url('../img/small-gear-white.png') 0 0 no-repeat;
  background-size: 41px 41px;
  transition-duration: 0.2s;
}
.main-header__name {
  font-family: 'Scada', sans-serif;
  font-size: 19px;
  line-height: normal;
  font-weight: 700;
  color: #ffffff;
  text-align: right;
}
.main-header__status {
  font-family: 'Scada', sans-serif;
  font-size: 16px;
  line-height: 19px;
  padding-bottom: 7px;
  font-weight: 700;
  color: #ffffff;
  text-align: right;
  margin-bottom: 10px;
}
.main-header__contacts {
  display: flex;
  justify-content: space-around;
}
.main-header__vk-icon {
  width: 30px;
  height: 30px;
  fill: white;
  transition-duration: 0.2s;
}
.main-header__vk-icon:hover {
  fill: #ff8940;
}
.main-header__email-icon {
  width: 30px;
  height: 30px;
  fill: white;
  transition-duration: 0.2s;
}
.main-header__email-icon:hover {
  fill: #ff8940;
}
.main-header__github-icon {
  width: 30px;
  height: 30px;
  fill: white;
  transition-duration: 0.2s;
}
.main-header__github-icon:hover {
  fill: #ff8940;
}
/* ===NAVIGATION=== */
.main-header__navigation {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}
.main-header__navigation-list {
  display: block;
  list-style-type: none;
}
.main-header__navigation-link {
  display: block;
  padding: 10px 0;
  font-family: 'Scada', sans-serif;
  font-size: 22px;
  text-align: center;
  color: #fff;
  background-color: teal;
  border-bottom: 1px solid #121212;
  transition-duration: .1s;
}
.main-header__navigation-link:hover {
  color: #ff8940;
}
.main-header__burger {
  position: absolute;
  top: 108px;
  left: 33px;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s;
}
.main-header__burger:hover {
  background-color: #ff8940;
}
.main-header__burger::before {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  top: 5px;
  left: 5px;
  align-self: center;
  background: url("../img/burger.png") 0 0 no-repeat;
  background-size: 30px 30px;
}
/*	===CONTENT===	*/
.main-content__bread-crumbs {
  padding-top: 27px;
}
.main-content__bread-crumbs:after {
  content: "";
  display: table;
  clear: both;
}
.main-content__bread-crumbs ul {
  list-style-type: none;
}
.main-content__bread-crumbs li {
  float: left;
  margin-right: 15px;
  font-family: "PT Sans Narrow";
  font-size: 16px;
  text-transform: uppercase;
  color: #000;
}
.main-content__bread-crumbs a {
  color: #000;
  transition-duration: 0.2s;
}
.main-content__bread-crumbs a:hover {
  color: #ff8940;
}
.main-content__bread-crumbs .bread-crumbs-arrow {
  padding-left: 22px;
  color: #000;
}
.portfolio__filters {
  width: 387px;
  margin: 15px auto;
}
.portfolio__filters span {
  display: inline-block;
  cursor: pointer;
  padding: 2px 4px;
  margin: 10px 10px;
  font-family: "PT Sans Narrow";
  text-transform: uppercase;
}
.active-filter {
  color: #ff8940;
}
.main-content {
  min-height: 822px;
  box-sizing: border-box;
  background-color: white;
  padding-top: 1px;
  padding-bottom: 1px;
}
.main-content__portfolio {
  margin-bottom: 150px;
  margin-top: 70px;
}
.portfolio-page {
  margin-top: 20px;
}
.portfolio--no-margin {
  margin-bottom: 0;
}
.portfolio__title {
  color: black;
  margin-bottom: 50px;
}
/*
.potfolio-slider {
margin-right: -10px;
}
*/
.potfolio__slider {
  position: relative;
}
.potfolio__slider:after {
  content: "";
  display: table;
  clear: both;
}
.slick-item-wrapper {
  padding-right: 10px;
  padding-bottom: 20px;
  box-sizing: border-box;
  float: left;
  width: 33.333%;
}
.portfolio__item {
  position: relative;
  display: block;
  border: 3px solid lightgray;
  box-sizing: border-box;
  box-shadow: 0px 9px 15px -8px rgba(36, 36, 36, 0.75);
}
.portfolio__item img {
  display: block;
  width: 100%;
  height: 200px;
}
.portfolio__item-technomart:hover::after {
  content: 'Fixed';
  position: absolute;
  top: 152px;
  left: 7px;
  width: 127px;
  height: 41px;
  background-color: teal;
  font-family: 'Roboto', sans-serif;
  color: white;
  border: 2px solid #b7b4b4;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 41px;
}
.portfolio__item-sedona:hover::after {
  content: 'Adaptive';
  position: absolute;
  top: 152px;
  left: 7px;
  width: 127px;
  height: 41px;
  background-color: #ff8940;
  font-family: 'Roboto', sans-serif;
  color: white;
  border: 2px solid #b7b4b4;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 41px;
  transition-duration: 0.2s;
}
.portfolio__item-mogo:hover::after {
  content: 'Fixed';
  position: absolute;
  top: 152px;
  left: 7px;
  width: 127px;
  height: 41px;
  background-color: teal;
  font-family: 'Roboto', sans-serif;
  color: white;
  border: 2px solid #b7b4b4;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 41px;
  transition-duration: 0.2s;
}
.portfolio__item-barbershop-borodinskiy:hover::after {
  content: 'Fixed';
  position: absolute;
  top: 152px;
  left: 7px;
  width: 127px;
  height: 41px;
  background-color: teal;
  font-family: 'Roboto', sans-serif;
  color: white;
  border: 2px solid #b7b4b4;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 41px;
}
.portfolio__item-nerds:hover::after {
  content: 'Fixed';
  position: absolute;
  top: 152px;
  left: 7px;
  width: 127px;
  height: 41px;
  background-color: teal;
  font-family: 'Roboto', sans-serif;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 41px;
}
.portfolio__item-surface:hover::after {
  content: 'Adaptive';
  position: absolute;
  top: 152px;
  left: 7px;
  width: 127px;
  height: 41px;
  background-color: #ff8940;
  font-family: 'Roboto', sans-serif;
  color: white;
  border: 2px solid #b7b4b4;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 41px;
}
.portfolio__item-activebox:hover::after {
  content: 'Adaptive';
  position: absolute;
  top: 152px;
  left: 7px;
  width: 127px;
  height: 41px;
  background-color: #ff8940;
  font-family: 'Roboto', sans-serif;
  color: white;
  border: 2px solid #b7b4b4;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 41px;
}
.portfolio__item:hover {
  border-color: #ff8940;
}
.portfolio__item:active {
  border-color: #e07938;
}
.portfolio__item:nth-child(3n) {
  margin-right: 0;
}
.portfolio__more-icon {
  position: absolute;
  width: 81px;
  height: 80px;
  top: 279px;
  right: 41px;
  fill: lightgray;
  transition-duration: 0.2s;
}
.portfolio__more-icon:hover {
  fill: #ff8940;
}
.portfolio__more-icon:active {
  fill: #e07938;
}
.portfolio__page-link--hidden {
  display: none;
}
.skills__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.skills__wrapper-item {
  width: 50%;
  margin-bottom: 30px;
}
.main-content__skills {
  margin-bottom: 100px;
}
.skills__title {
  color: black;
  margin-bottom: 50px;
}
.skills__item {
  padding: 0 20px;
  box-sizing: border-box;
}
.skills__item img {
  height: 100px;
}
/* FOOTER */
.main-footer {
  background-color: #eaeaea;
  padding-top: 1px;
  padding-bottom: 1px;
}
.main-footer__contacts {
  padding-bottom: 1px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.contacts__list {
  list-style-type: none;
}
.contacts__list:after {
  content: "";
  display: table;
  clear: both;
}
.contacts__list-item {
  float: left;
  width: 100%;
  margin-bottom: 30px;
  box-sizing: border-box;
}
.contacts__text {
  display: block;
  font-family: "PT Sans Narrow";
  color: black;
  text-align: center;
  transition-duration: .2s;
}
.contacts__text:hover {
  color: #ff8940;
}
.contacts__icon svg {
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 auto;
}
/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
body {
  background: #242424 url(../img/simple-bg.png);
  font-size: 16px;
  padding-top: 163px;
}
h2 {
  margin: 0;
}
h1 {
  margin: 0;
}
h3 {
  margin: 0;
}
p {
  margin: 0;
}
img {
  max-width: 100%;
  height: auto;
}
ul {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
input[type="text"]:focus {
  outline: none;
}
input[type="tel"]:focus {
  outline: none;
}
input[type="email"]:focus {
  outline: none;
}
textarea:focus {
  outline: none;
}
button:focus {
  outline: none;
}
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
@media (min-width: 480px) {
  .main-header {
    flex-direction: row;
    -ms-grid-row-align: center;
    align-items: center;
  }
  .main-header__name {
    font-size: 26px;
  }
  .main-header__status {
    font-size: 18px;
  }
  .main-header__burger {
    position: relative;
    top: 0;
    left: 0;
  }
  .main-content__bread-crumbs li {
    font-size: 18px;
  }
  .skills__wrapper-item {
    width: 33.333%;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 750px;
  }
  .skills__wrapper-item {
    width: 21%;
  }
  .contacts__list-item {
    float: left;
    width: 25%;
    padding: 0 15px;
    margin-bottom: 0;
    box-sizing: border-box;
  }
  .contacts__icon {
    margin-bottom: 10px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 970px;
  }
  .main-header {
    position: static;
    border-bottom: 5px solid #086363;
  }
  .main-header__name {
    font-family: 'Scada', sans-serif;
    font-size: 30px;
    line-height: normal;
    font-weight: 700;
    color: #ffffff;
    text-align: right;
  }
  .main-header__status {
    font-family: 'Scada', sans-serif;
    font-size: 19px;
    line-height: 19px;
    padding-bottom: 7px;
    font-weight: 700;
    color: #ffffff;
    text-align: right;
    margin-bottom: 10px;
  }
  .main-header__vk-icon {
    width: 40px;
    height: 40px;
  }
  .main-header__email-icon {
    width: 40px;
    height: 40px;
  }
  .main-header__github-icon {
    width: 40px;
    height: 40px;
  }
  .main-header__navigation {
    display: flex;
    position: static;
    align-items: center;
  }
  .main-header__navigation-list {
    display: flex;
  }
  .main-header__navigation-item {
    margin-right: 50px;
  }
  .main-header__navigation-link {
    display: block;
    font-family: 'Scada', sans-serif;
    font-size: 22px;
    color: #fff;
    padding-bottom: 1px;
    border-bottom: 3px solid #ff8940;
    transition-duration: .1s;
  }
  .main-header__navigation-link:hover {
    color: #ff8940;
    border-bottom: 1px solid #ff8940;
  }
  .main-header__burger {
    display: none;
  }
  .skills__wrapper-item {
    width: 16%;
  }
  body {
    padding-top: 0;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
@media (max-width: 992px) {
  .main-header__creator::before {
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
  }
  .main-header__creator::after {
    top: -36px;
    left: -34px;
    width: 38px;
    height: 38px;
    background-size: 38px 38px;
  }
  .slick-item-wrapper {
    width: 50%;
  }
}
@media (max-width: 480px) {
  .main-header__creator::before {
    top: -12px;
    left: -57px;
    width: 45px;
    height: 45px;
    background-size: 45px 45px;
  }
  .main-header__creator::after {
    top: -33px;
    left: -28px;
    width: 33px;
    height: 33px;
    background-size: 33px 33px;
  }
  .portfolio__filters {
    width: 286px;
  }
  .portfolio__filters .filters-title {
    display: none;
  }
  .portfolio__filters span {
    margin: 10px 7px;
  }
  .slick-item-wrapper {
    width: 100%;
  }
}
