.main-footer {
  background-color: $footer-background-color;
}

.footer {
  @include clearfix();
  padding-bottom: 60px;
}

.footer-item {
  float: left;
  width: 33.33333333%;
  padding: 0 15px;
  box-sizing: border-box;
  text-align: center;
}

.footer-title {
  margin: 70px 0 30px 0;
}

.footer__location-title {
  text-transform: uppercase;
  color: $alt-text-color;
}

.footer__location-text {
  color: $footer-text-color;
  padding: 0 80px;
}

.footer__social-title {
  text-transform: uppercase;
  color: $alt-text-color;
}

.footer__social-list {
  @include  list-nostyle();
  @include  clearfix();
  padding: 0;
  display: flex;
  justify-content: center;
}

.footer__social-item {
  margin-right: 10px;
  &:last-child {
    margin-right: 0;
  }
}

.footer__social-link {
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid #6c7279;
  color: #6c7279;
  text-align: center;
  line-height: 30px;
  transition-duration: 0.2s;
  &:hover {
    background-color: #ededed;
  }
  &:hover i {
    color: #eb5e5e;
  }
}

.footer__about-title {
  text-transform: uppercase;
  color: $alt-text-color;
}

.footer__about__text {
  color: $footer-text-color;
}

@media #{$media-desk-md} {
  .footer-item {
    width: 100%;
  }
  .footer-title {
    margin: 45px 0 30px 0;
  }
}
